# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Config file
config.yaml

# Output files
resources/output
resources/input
resources/images

# Temporary files
temp_overlay.pdf

# Virtual environment
.venv/

.DS_Store